<div>
<hr />
  <em>(Routing TODO ...)</em> &nbsp; &nbsp; &nbsp;  Home | <a href="">Articles</a> || Week {{ weekNumber }} | FINAL Assignment {{ assignmentNumber }} TEST/PREP/DEV || Link to <a href="http://0.0.0.0:8089/" target="_blank">Assignment "75" - REST API</a> (LOCAL)
<hr />
<div class="banner">
  <p>FINAL Assignment 7 - PREP/TEST/DEV</p>
  <p>CRUD - TODO - All via Angular client, not Express server</p>
  <ul>
    <li>CREATE - Add Article Form on Articles page</li>
    <li>READ - Button to Display All, or "First n" Articles, on Articles page</li>
    <li>UPDATE - <em>TODO ...</em></li>
    <li>DELETE - <em>TODO ...</em></li>
    </ul>
    <hr>
  </div>
