<strong>ARTICLE-DETAIL.COMPONENT</strong>

<div *ngIf="theArticleHereInDetailPage">
    <div *ngIf="!editing">
        <h3>Article Detail DISPLAY Page</h3>
        <h2><a bind-href="theArticleHereInDetailPage.articleUrl" target="_nytblank">{{ theArticleHereInDetailPage.articleTitle }}</a></h2>
        <p>Some Times - API URL: <a bind-href="articleApiUrlWithId" target="_apiblank">{{articleApiUrlWithId}}</a>
        </p>
        <p class="tiny">{{theArticleHereInDetailPage.articleUrl}}
        </p>
        <p class="tiny">{{theArticleHereInDetailPage._id}}</p>
        <button (click)="letUsEdit()">Let's Edit (or Delete!)</button>
    </div>
    <div *ngIf="editing">
        <h3>Article EDIT or DELETE Page</h3>

        <!--  2-way binding biz.
        We are doing 2-way binding, kind of just to show off.
        For the heck of it. Show it can be done.

        The headline value appears in large letters for read-only,
        but the same headline value is in the editable input box right below.

        We apply the 2-way binding code (details below) to the <input> element.

        When the user changes the headline in the input element,
        the large-lettered display changes too.
        (And yes, if they Cancel out of editing, we do preserve and restore
        the initial value.)

        https://blog.thoughtram.io/angular/2016/10/13/two-way-data-binding-in-angular-2.html
        [(ngModel)]
        syntactic sugar for:
          bind-value="theArticleHereInDetailPage.articleTitle"
          on-input="theArticleHereInDetailPage.articleTitle = $event.target.value"
          OR:
        [value]=...
        (input)=...
          OR:
         [(ngModel)]=...
        -->

        <h2>{{ theArticleHereInDetailPage.articleTitle }}</h2>

        <!-- TEMPLATE-DRIVEN ANGULAR FORM y not
https://blog.thoughtram.io/angular/2016/03/21/template-driven-forms-in-angular-2.html#submitting-a-form-and-accessing-its-value
        -->
        <p>Angular TEMPLATE-DRIVEN FORM</p>
        <div style="border-color: blue; border-style: dashed; padding: 10px;">
        <form ref-myArticleEditForm_ref="ngForm" on-ngSubmit="letUsSave(myArticleEditForm_ref.value)">
            <p>Edit the Headline: <input
                    type="text"
                    ref-articleTitle_ref
                    id="articleTitle_id"
                    name="articleTitle_name"
                    size="60"
                    bind-ngModel="theArticleHereInDetailPage.articleTitle"
                    on-input="theArticleHereInDetailPage.articleTitle = $event.target.value"
            />

            <p>New York Times - article URL: <a bind-href="theArticleHereInDetailPage.articleUrl" target="_nytblank">{{theArticleHereInDetailPage.articleUrl}}</a>
            </p>
            <p class="tiny">{{theArticleHereInDetailPage.articleUrl}}
            </p>
            <p class="tiny">{{theArticleHereInDetailPage._id}}</p>
            <button type="submit">Let's Save!</button>
        </form>
        </div>
        <hr />
        <p>Angular REACTIVE-MODEL-DRIVEN FORM</p>
        <div style="border-color: green; border-style: dotted; padding: 10px;">
            <form [formGroup]="myArticleEditFormGroup" on-ngSubmit="letUsSaveReactive()">
                <input
                        type="text"
                        id="articleTitle_id"
                        name="articleTitle_name"
                        formControlName="articleTitle_formControlName"
                >
                <button type="submit">Let's Save!</button>
            </form>

        </div>
        <hr />

        <!-- Delete is simpler. No need to pass anything. Component already "knows" its own ID etc. -->
        <button on-click="letUsDelete()">Let's Delete</button>
        <button (click)="letUsCancel()">Let's Cancel Outta Editing Here</button>
    </div>
</div>


<!--
Don't quite have this data yet here in Article-Detail...
<h4>{{ articleHere.articleTitle }}</h4>
<p>Some Times - API URL: <a bind-href="articleApiUrlWithId" target="_apiblank">{{articleApiUrlWithId}}</a>
</p>
<p>New York Times - article URL: <a bind-href="articleHere.articleUrl" target="_nytblank">{{articleHere.articleUrl}}</a>
</p>
-->
