


/*
https://www.w3schools.com/howto/howto_css_two_columns.asp
 */

.column {
    float: left;
    padding: 10px;
}

.left {
    width: 33%;
}

.middle {
    width: 34%;
    background-color: gainsboro;
}

.right {
    width: 33%;
    background-color: aliceblue;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}